.bg-myOrange {
    background-color: #FF9F43;
}

.bg-myMuteOrange {
    background-color: #F3E7DF;
}

.text-myOrange {
    color: #FF9F43;
}

.btn-myOrange {
    background-color: #FF9F43;
    color: white;
    border: 2px solid transparent;
}

.btn-myOrange:hover {
    background-color: transparent;
    color: #FF9F43;
    border: 2px solid #FF9F43;
}


.animated-link {
    position: relative;
    text-decoration: none;
    display: block;
    width: 100%;
}
.animated-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0; 
    height: 2px; 
    background-color: white; 
    transition: width 0.3s ease; 
}
.animated-link:hover::after { 
    width: 100%; 
}

.mainPage-grid {
    display: grid;
    gap: 20px;
}

.mainPage-grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 150px;
}

.box-large {
    grid-column: span 2;
}

@media (min-width: 768px) {
    .mainPage-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px;
    }

    .box-large {
        grid-column: 1;
        grid-row: span 2;
    }
}

.product-card {
    position: relative;
}

.product-img {
    transition: transform 0.4s ease;
}


.product-text {
    transition: transform 0.4s ease;
}

.product-card:hover .product-img {
    transform: scale(1.1);
}

.product-card:hover .product-text {
    transform: translateY(-10px);
}